.animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 1;
  }
  
  .blob1 {
    z-index: -100;
    top: 12%;
    right: 75%;
    width: 450px;
    height: 450px;
    animation: float1 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 0s;
  }

  .blob2 {
    z-index: -100;
    bottom: 77.5%;
    left: 31.5%;
    width: 460px;
    height: 460px;
    animation: float2 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 3s;
  }
  
  .blob3 {
    z-index: -100;
    width: 650px;
    height: 650px;
    left: 60%;
    bottom: 62%;
    animation: float3 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 1.5s;
  }
  .blob4 {
    z-index: -101;
    width: 460px;
    height: 460px;
    right: 67%;
    bottom: 30%;
    animation: float4 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 1.5s;
  }
  .blob5 {
    z-index: -100;
    width: 650px;
    height: 650px;
    left: 10%;
    top: 40%;
    animation: float5 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 1.5s;
  }
  .blob6 {
    z-index: -100;
    width: 460px;
    height: 460px;
    top: 25%;
    left: 52.5%;
    animation: float6 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 1.5s;
  }
  .blob7 {
    z-index: -100;
    width: 460px;
    height: 460px;
    top: 75%;
    right: 72%;
    animation: float7 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 1.5s;
  }
  
  .blob8{
    z-index: -100;
    top: 45%;
    left: 45%;
    width: 935px;
    height: 935px;
    animation: float8 ease-in-out infinite;
    animation-duration: 50s;
    animation-delay: 1.5s;
  }
  /* Animation */
  @keyframes float1 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(80px, -50px) scale(1.1); }
    50%  { transform: translate(-60px, 100px) scale(0.9); }
    75%  { transform: translate(100px, 50px) scale(1.05); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes float2 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(-100px, 80px) scale(1.2); }
    50%  { transform: translate(120px, -60px) scale(0.85); }
    75%  { transform: translate(-80px, 40px) scale(1.1); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes float3 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(60px, 60px) scale(1.15); }
    50%  { transform: translate(-90px, -40px) scale(0.95); }
    75%  { transform: translate(70px, -70px) scale(1.05); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes float4 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(-120px, -80px) scale(1.1); }
    50%  { transform: translate(60px, 90px) scale(0.9); }
    75%  { transform: translate(-60px, 50px) scale(1.08); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes float5 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(100px, 100px) scale(1.05); }
    50%  { transform: translate(-80px, -50px) scale(0.92); }
    75%  { transform: translate(120px, -30px) scale(1.1); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes float6 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(-70px, 70px) scale(1.12); }
    50%  { transform: translate(90px, -60px) scale(0.88); }
    75%  { transform: translate(-90px, 60px) scale(1.15); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes float7 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(50px, -100px) scale(1.07); }
    50%  { transform: translate(-70px, 80px) scale(0.9); }
    75%  { transform: translate(100px, -20px) scale(1.03); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes float8 {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(-100px, 50px) scale(1.1); }
    50%  { transform: translate(90px, -100px) scale(0.9); }
    75%  { transform: translate(-70px, 30px) scale(0.5); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  