body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;

}

  
html {
  overscroll-behavior: none; /* ngăn nhún bounce khi chạm biên */
  overflow-x: hidden; /* tránh bị lệch chiều ngang */
}
